/* Existing styles */

/* New styles for match cards */
.matches-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.match-card {
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.match-card h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.match-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.match-card button.view-prediction {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #50c878;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.match-card button.view-prediction:hover {
  background-color: #44a368;
}

/* Existing styles */

/* Other styles */
body {
  /* min-height: 100vh; */
  background-color: #f0f0f0;
  /* Use a different background image or color as needed */
}

.text {
  margin: 25px auto;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #50c878;
  outline: none;
  text-align: center;
}

/* Additional styles for the navigation bar */
a {
  color: white; /* Set the font color to white for the nav bar links */
  text-decoration: none; /* Remove underline from nav bar links */
}

/* Adjust the select country scroll bar position */
.box {
  position: absolute;
  left: 630px;
  top: 150px; /* Adjust the top value as needed to position the select box correctly */
  z-index: 1; /* Ensure the select box appears above the nav bar */
}

